.navbar{
    background-color: inherit !important;
    margin-top: -1em;
}
.heading1{
    font-size: 0.6em;
    color: rgb(213, 13, 13);
    font-weight: bolder;
    
}
.headContainer{
    font-weight: bolder;
    text-align: left;
}

.dropdown-menu1{
    animation: rotateMenu 500ms ease-in-out;
    
}
.dropdown-item1{
    font-size: 14px;
    font-weight: bold;
    
}
@keyframes rotateMenu {
    0% {
      transform: rotateX(-90deg)
    }
    70% {
      transform: rotateX(20deg)
    }
    100% {
      transform: rotateX(0deg)
    }
}