.dateContainer{
    text-align: left;
}
.datePicker{
    outline:none;
    border:1px solid grey;
    border-radius: 5px;
    color:rgb(161, 161, 161);
}
.searchBtn{
    border-radius:5px;
    /* padding-left: 2em;
    padding-right: 2em; */
    padding:0.4em 2em 0.4em 2em;
    height: 2.0em;
    margin-top: 2em;
}
.dateLabel{
    font-weight: bolder;
    font-size: 0.7em;
    margin-left: 1em;
}
